<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main-page-components.css">
</head>
<body>
<div class="main-page-upper-bar">
    <h1 class="main-page-center">
        INVENTORIO
    </h1>
</div>
<div class="main-page-left-bar">

</div>
<div class="main-page-right-bar main-page-center">
    <div class="main-page-bar-button">
        yo
    </div>
</div>




</body>
</html>