<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main-page-components.css">
</head>
<body>

<!-- UPPER BAR -->
<div class="main-page-upper-bar">
    <h1 class="main-page-center-logo">
        INVENTORIO
    </h1>
</div>


<!--LEFT BAR-->
<div class="main-page-left-bar">
    <ul><theme1/>
        <li><boxed/>Inventory</li>
        <li><boxed/>Inventory Settings</li>
    </ul>
</div>



<!--RIGHT BAR-->
<div class="main-page-right-bar">
    <div class="main-page-bar-head">
        Account menu
    </div>
    <!--BUTTONS-->
    <div class="main-page-bar-button main-page-bar-font">
        <div class="main-page-bar-button-text">
            Login
        </div>
    </div>
    <div class="main-page-bar-button main-page-bar-font">
        <div class="main-page-bar-button-text">
            Account settings
        </div>
    </div>
</div>

<!--ACTIVITY AREA-->
<div class="main-page-activity-area-pos">
    <div class="main-page-activity-area-button">
        <div class="main-page-activity-area-button-text">
            Hei
        </div>
    </div>
    <div class="main-page-activity-area-button">
        Vin
    </div>
</div>




</body>
</html>